<div id="slug-header" class="border-bottom mb-4">
    <div class="container d-flex py-3">
        <div>
            <h1 class="d-inline-block m-0" title="{extEmconf.description}">
                <f:translate key="LLL:EXT:slug/Resources/Private/Language/locallang.xlf:ext.title"/>
            </h1>
            <small class="text-primary"><f:translate key="LLL:EXT:slug/Resources/Private/Language/locallang.xlf:ext.version" arguments="{0:'{extEmconf.version}'}"/> ({extEmconf.state})</small>
            <f:if condition="{slugpro}">
                <f:render partial="SlugPro/Version"/>
            </f:if>
        </div>
        <div class="btn-group ms-auto">
            <f:link.action action="list" controller="Slug" class="btn btn-default">
                <i class="bi bi-file"></i> {f:translate(key:'button.pages', extensionName: slug)}
            </f:link.action>
            <f:for each="{additionalTables}" as="table" key="label">
                <f:link.action action="record" controller="Slug" class="btn btn-default" arguments="{table:label}">
                    <core:icon title="Open actions menu" identifier="preciouscanine-svgicon" />
                    {table.label}
                </f:link.action>
            </f:for>
        </div>
    </div>
</div>
