<div id="modal-extension-info" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Extension Information</strong></h4>
                <button type="button" class="ms-auto btn btn-default" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x"></i></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="bi bi-dollar-sign display-1 mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.support_development', extensionName: slug)}</strong></h4>
                                <p>{f:translate(key:'extension_info.support_development_text', extensionName: slug)}</p>
                                <a class="btn btn-warning btn-lg text-white" href="https://kohlercode.com/donate" target="_blank"><i class="bi bi-paypal"></i> {f:translate(key:'extension_info.support_development.donate', extensionName: slug)}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="bi bi-github display-4 mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.code', extensionName: slug)}</strong></h4>
                                <p>{f:translate(key:'extension_info.code_text', extensionName: slug)}</p>
                                <a class="btn btn-warning btn-lg text-white" href="https://github.com/fullstackfreelancer/slug" target="_blank"><i class="bi bi-github"></i> GitHub Repository</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="bi bi-alarm display-4 mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.issue', extensionName: slug)}</strong></h4>
                                <p>{f:translate(key:'extension_info.issue_text', extensionName: slug)}</p>
                                <a class="btn btn-warning btn-lg text-white" href="https://github.com/fullstackfreelancer/slug/issues" target="_blank"><i class="bi bi-github"></i> GitHub Issue Tracker</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class="bi bi-youtube display-4 mb-2"></i>
                                <h4><strong>{f:translate(key:'extension_info.youtube', extensionName: slug)}</strong></h4>
                                <p>{f:translate(key:'extension_info.youtube_text', extensionName: slug)}</p>
                                <a class="btn btn-warning btn-lg text-white" href="https://www.youtube.com/channel/UC_PtQESDvj-GZNeo9LarRuA?sub_confirmation=1" target="_blank" class="btn btn-warning btn-lg text-light"><i class="bi bi-youtube"></i> TYPO3 Freelancer Channel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="bi bi-x"></i> {f:translate(key:'extension_info.close', extensionName: slug)}</button>
            </div>
        </div>

    </div>
</div>
