<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:asset.css identifier="slug" href="EXT:slug/Resources/Public/Css/Backend.css"/>
    <f:asset.css identifier="slug_icons" href="EXT:slug/Resources/Public/Libs/bootstrap-icons/font/bootstrap-icons.min.css"/>
    <f:asset.script identifier="slug_list_class" src="EXT:slug/Resources/Public/JavaScript/Classes/SlugList.js"/>
    <f:asset.script identifier="slug_helper_class" src="EXT:slug/Resources/Public/JavaScript/Classes/SlugHelper.js"/>
    <f:asset.script identifier="slug_list_controller" src="EXT:slug/Resources/Public/JavaScript/ExtensionController.js"/>

    <section id="typo3-inner-docbody">
        <f:flashMessages />
        <f:render section="content" />
        <f:render partial="ModuleFooter" />
    </section>

    <f:render partial="ModalExtensionInfo"/>

</html>
