{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   data-namespace-typo3-fluid="true">

    <f:asset.css identifier="slug" href="EXT:slug/Resources/Public/Css/Backend.css"/>
    <f:asset.css identifier="slug_icons" href="EXT:slug/Resources/Public/Libs/bootstrap-icons/font/bootstrap-icons.min.css"/>

    <f:be.pageRenderer includeJavaScriptModules="{
         0: '@simonkoehler/slug/Classes/SlugHelper.js',
         1: '@simonkoehler/slug/ListController.js'
      }"
      />

    <section id="typo3-inner-docbody">
        <f:render partial="DocHeader" arguments="{_all}"/>
        <f:flashMessages />
        <f:render section="Content" />
        <f:render partial="ModuleFooter" />
    </section>

    <f:render partial="ModalExtensionInfo"/>

</html>
