<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="slug" href="EXT:slug/Resources/Public/Css/Backend.css"/>

    <section id="typo3-inner-docbody">
        <small><f:be.pagePath /></small>
        <f:flashMessages />
        <f:render section="content" />
        <footer id="slug-footer">
            &copy; 2018-2023 by S.Köhler | <a href="#" data-bs-toggle="modal" data-bs-target="#modal-extension-info" class="text-warning"><i class="fa fa-info-circle"></i> {f:translate(key:'footer.about', extensionName: slug)}</a> | <a href="https://github.com/koehlersimon/slug#usage" target="_blank"><i class="fa fa-github"></i> {f:translate(key:'footer.docs', extensionName: slug)}</a> | <a href="https://www.digistore24.com/redir/246076/GOCHILLA/" target="_blank"><i class="fa fa-angle-right"></i> {f:translate(key:'footer.affiliate_link', extensionName: slug)}</a>
        </footer>
    </section>

    <f:comment>
        <f:render partial="ModalExtensionInfo"/>
        <f:render partial="SlugNotes" arguments="{_all}"/>
        <f:render partial="Languages" arguments="{_all}"/>
    </f:comment>


</html>
