{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:for each="{pages}" as="page">

    <f:render section="entry" arguments="{page:page,indent:'ps-0'}"/>

    <f:if condition="{page._translations}">
        <f:for each="{page._translations}" as="page">
            <f:render section="entry" arguments="{page:page,indent:'ps-3'}"/>
        </f:for>
    </f:if>

</f:for>

<f:section name="entry">
    <div id="record-{page.uid}" data-locked="{page.tx_slug_locked}" data-record="{page.uid}" data-siteprefix="{page.base}{page.base_language}" data-table="pages" class="slug-record px-2 mb-2 shadow shadow-sm">
        <div class="row">
            <div class="col-lg-6 py-1">
                <div class="d-flex">
                    <div class="{indent}">
                        <f:render section="title" arguments="{doktype:page.doktype, title:page.title, root:page.is_siteroot, uid:page.uid, hidden:page.hidden, locked:page.tx_slug_locked, full_url:page.full_url}"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 py-1">
                <div class="input-group">
                    <span class="input-group-text"><core:icon identifier="flags-{page.flag}" size="small" title="{page.flag}"/></span>
                    <input type="text" class="form-control slug-input" id="slug-input-field-{page.uid}" value="{page.slug}"/>
                </div>
            </div>
            <div class="col-lg-2 py-1">
                <div class="button-group ms-auto">
                    <f:if condition="{page.tx_slug_locked} === 0">
                    <a class="btn btn-default btn-save"><core:icon identifier="actions-save" size="small" /></a>
                    <a class="btn btn-default btn-generate"><core:icon identifier="actions-refresh" size="small" /></a>
                    </f:if>
                    <div class="dropdown d-inline">
                      <button class="btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                      <ul class="dropdown-menu" style="min-width:230px;">
                          <f:if condition="{slugpro}">
                            <f:then>
                                <li><f:be.link route="slug_page" parameters="{id:page.uid}" class="dropdown-item"><i class="bi bi-pen"></i> {f:translate(key:'button.edit.open_in_slug_page_module', extensionName: 'slug')}</f:be.link></li>
                                <li><be:link.editRecord uid="{page.uid}" table="pages" returnUrl="{f:be.uri(route: 'slug_list')}" class="dropdown-item"><i class="bi bi-pen"></i> {f:translate(key:'button.edit.page_properties', extensionName: 'slug')}</be:link.editRecord></li>
                                <li><a href="#" class="dropdown-item btn-info"><core:icon identifier="actions-info-circle" size="small" /> Info (experimental)</a></li>
                            </f:then>
                            <f:else>
                                <li title="Slug PRO Feature"><button disabled class="dropdown-item"><i class="bi bi-pen"></i> {f:translate(key:'button.edit.open_in_slug_page_module', extensionName: 'slug')}</button></li>
                                <li><a href="#" class="dropdown-item btn-info"><core:icon identifier="actions-info-circle" size="small" /> Info (experimental)</a></li>
                            </f:else>
                          </f:if>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-container"></div>
    </div>
</f:section>

<f:section name="title">
    <f:if condition="{hidden} === 1">
        <f:variable name="overlay" value="overlay-hidden"/>
    </f:if>
    <f:if condition="{root} == 1">
        <f:then>
            <h5>
                <core:icon identifier="apps-pagetree-folder-root" overlay="{overlay}" size="small" title="uid={uid}"/>
                <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
            </h5>
        </f:then>
        <f:else>
            <f:switch expression="{doktype}">
                <f:case value="254">
                    <h5>
                        <core:icon identifier="apps-pagetree-folder-default" overlay="{overlay}" size="small" title="uid={uid}"/>
                        <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
                    </h5>
                    <div class="slug-preview text-muted">{full_url}</div>
                </f:case>
                <f:case value="6">
                    <h5>
                        <core:icon identifier="apps-pagetree-page-backend-users" overlay="{overlay}" size="small" title="uid={uid}"/>
                        <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
                    </h5>
                    <a href="{full_url}" target="_blank" class="slug-preview">{full_url}</a>
                </f:case>
                <f:case value="3">
                    <h5>
                        <core:icon identifier="apps-pagetree-page-shortcut-external" overlay="{overlay}" size="small" title="uid={uid}"/>
                        <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
                    </h5>
                    <a href="{full_url}" target="_blank" class="slug-preview">{full_url}</a>
                </f:case>
                <f:case value="4">
                    <h5>
                        <core:icon identifier="apps-pagetree-page-shortcut" overlay="{overlay}" size="small" title="uid={uid}"/>
                        <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
                    </h5>
                    <a href="{full_url}" target="_blank" class="slug-preview">{full_url}</a>
                </f:case>
                <f:defaultCase>
                    <h5>
                        <core:icon identifier="apps-pagetree-page-default" overlay="{overlay}" size="small" title="uid={uid}"/>
                        <f:render section="titlefield" arguments="{title:title,uid:uid,locked:locked}"/>
                    </h5>
                    <a href="{full_url}" target="_blank" class="slug-preview">{full_url}</a>
                </f:defaultCase>
            </f:switch>
        </f:else>
    </f:if>
</f:section>

<f:section name="titlefield">
    <span class="page-title fs-4 fw-bold locked-{locked}" contenteditable="false" data-pageuid="{uid}" title="double click to edit" style="white-space: nowrap;">{title}</span>
</f:section>