{namespace core = TYPO3\CMS\Core\ViewHelpers}
<html
   xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
   xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
   xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
   data-namespace-typo3-fluid="true">
<f:layout name="Page" />

<f:section name="Content">

<div class="p-3 bg-light">
    <h1>{page.title}</h1>
    <div class="input-group">
        <input id="slug-input" type="text" name="slug" value="{page.slug}" class="form-control form-control-lg">
        <button data-slug-edit="{page.uid}" class="btn btn-default fs-5"><i class="bi bi-pen"></i> edit</button>
        <button data-slug-generate="{page.uid}" class="btn btn-primary fs-5"><i class="bi bi-arrow-repeat"></i> generate</button>
    </div>
    <div id="slug-preview">

    </div>
    <f:if condition="{translations}">
        <h4>Translated Pages:</h4>
    </f:if>
</div>

</f:section>
</html>
