{namespace be=TYPO3\CMS\Backend\ViewHelpers}

<f:for each="{records}" as="record">
    <f:render section="entry" arguments="{record:record,indent:'ps-0'}"/>

    <f:if condition="{record._translations}">
        <f:for each="{record._translations}" as="record">
            <f:render section="entry" arguments="{record:record,indent:'ps-2'}"/>
        </f:for>
    </f:if>

    <f:if condition="{record._children}">
        <f:for each="{record._children}" as="record">
            <f:render section="entry" arguments="{record:record,indent:'ps-4'}"/>
            <f:if condition="{record._translations}">
                <f:for each="{record._translations}" as="t_record">
                    <f:render section="entry" arguments="{record:t_record,indent:'ps-4'}"/>
                </f:for>
            </f:if>
        </f:for>
    </f:if>

</f:for>

<f:section name="entry">
    <div id="record-{record.uid}" data-locked="0" data-record="{record.uid}" data-siteprefix="0" data-table="{record.table}" class="slug-record px-2 mb-2 shadow shadow-sm">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="{indent}">
                    <f:render section="title" arguments="{title:record.title, uid:record.uid, hidden:record.hidden, table:record.table}"/>
                </div>
            </div>
            <div class="col-lg-4 py-1">
                <div class="input-group">
                    <span class="input-group-text"><f:format.raw>{record.icon}</f:format.raw></span>
                    <input type="text" class="form-control slug-input" id="slug-input-field-{record.uid}" value="{record.slug}"/>
                </div>
            </div>
            <div class="col-lg-2 py-1">
                <div class="button-group ms-auto">
                    <a class="btn btn-default btn-save"><core:icon identifier="actions-save" size="small" /></a>
                    <a class="btn btn-default btn-generate"><core:icon identifier="actions-refresh" size="small" /></a>
                    <be:link.editRecord uid="{record.uid}" table="{record.table}" returnUrl="{f:be.uri(route: 'slug_list')}" class="btn btn-default btn-edit" title="{f:translate(key:'button.edit.page_properties', extensionName: 'slug')}"><i class="bi bi-pen"></i></be:link.editRecord>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="title">
    <f:if condition="{hidden} === 1">
        <f:variable name="overlay" value="overlay-hidden"/>
    </f:if>
    <div class="h5">
        <core:iconForRecord table="{table}" row="{uid:uid}" />
        <span class="record-title fs-4 fw-bold locked-{locked}" contenteditable="false" data-uid="{uid}" data-table="{table}" title="double click to edit" style="white-space: nowrap;">{title}</span>
    </div>
</f:section>